@charset "utf8";
body{
  background-color: #ff2500;
}
h1{
  color: #0bd;
  font-family: 'Darumadrop One', cursive;
  font-weight: normal;
  background-color: #fff;
}
p{
  font-size: 20px;
  font-family: 'Darumadrop One', cursive;
  color: rgba(10, 130, 165, .5);
}
